<div class="row productDetailsSide wow animated fadeInRight">
  <h5 class="w-100 text-center">Vehicle Details</h5>
  <div class="col-12 col-sm-6 col-md-4">
    <p>Car</p>
    <p>{{userselectedCarDetails.VehicleDetails.makeName}} {{userselectedCarDetails.VehicleDetails.modelName}} {{userselectedCarDetails.VehicleDetails.subModelName}}  </p>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <p>Fuel Type</p>
    <p class="">{{fuelType}}</p>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <p>Enging &amp; Seater</p>
    <p class="">{{userselectedCarDetails.VehicleDetails.engineCC}}CC &amp; {{userselectedCarDetails.VehicleDetails.seatingCapacity}} Seater</p>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <p>Manufacturing Year</p>
    <p class="">{{userselectedCarDetails.VehicleDetails.yearOfMfg}}</p>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <p>Registration Date</p>
    <p class="">{{userselectedCarDetails.VehicleDetails.registrationDate}}</p>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <p>Registration Number</p>
    <p class="">{{userselectedCarDetails.VehicleDetails.registrationNo}}</p>
  </div>
</div>
