<div class="headerContact d-flex align-items-center">
  <div class="headerPhone mr-auto pl-3">
    <img src="../../assets/images/gopolicylogo.png" width="120px">
  </div>
  <div class="headerEmail pr-3">
    <p>
      <img src="../../assets/images/phone.png">
    </p>
    <p>
      <span>+91 044 4860 2200</span>
    </p>
  </div>
  <div class="headerLogin  mr-3" data-toggle="modal" data-target="#first_modal" (click)="loginDialog()">
    <p>
      <img src="../../assets/images/license.png">
    </p>
    <p>
      <span>Login</span>
    </p>
  </div>
</div>
